<div class="content container-fluid bootstrap snippets">
  <div class="row row-broken">
    <div class="col-sm-3 col-xs-12" style="margin-left: 2vw;" *ngIf="!profile">
      <div class="col-inside-lg decor-default chat" style="overflow: hidden; outline: none;" tabindex="5000">
        <div class="chat-users">
          <div style="display:flex; flex-direction: row; justify-content: space-between;">
            <h6 *ngIf=!search>Rooms</h6>
            <h6 *ngIf=search>Search</h6>
            <button class="btn pull-right" style="background-color: white; margin-bottom: 25px;"
              (click)="selectUserProfile()">
              <fa name="cog" size="lg"></fa>
            </button>
            <button class="btn pull-right" style="background-color: white; margin-bottom: 25px;"
              (click)="search = true">
              <fa name="search" size="lg"></fa>
            </button>
          </div>
          <div style="display: flex; flex-direction: row">
            <input type="text" *ngIf="search" [(ngModel)]="searchUser" class="fadeIn second" name="user"
              placeholder="Username" style="width:130px; height:40px;">
            <button class="btn pull-right" *ngIf="search" style="background-color: white; margin-bottom: 30px;"
              (click)="searchByName()">
              <fa name="search" size="lg"></fa>
            </button>
          </div>
          <button class="btn pull-center" *ngIf="search" style="background-color: white; margin-bottom: 30px;"
            (click)="createRoom()">{{findUser.username}}
          </button>
          <div *ngIf="!search" class="scrollbar scrollbar-secondary" style="width:95% !important;">
            <div class="user" *ngFor="let room of rooms" (click)="selectRoom(room)">
              <div class="avatar">
                <img src="http://node55288-env-7352306.mycloud.by/{{room.avatarUrl}}" alt="User name">
                <div class="status off"></div>
              </div>
              <div class="name">{{room.name}}</div>
              <div class="mood">Room</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-user *ngIf="user && !profile" [room]="room" [id]="currentUser.id"></app-user>
    <app-profile *ngIf="profile" [currentUser]="currentUser" (close)="profile = false"></app-profile>
  </div>
</div>
