<div class="col-xs-12 chat" style="overflow: hidden; outline: none; height: 90vh; width: 100%;" tabindex="5001">
  <div class="col-inside-lg decor-default">
    <div class="chat-body">
      <h6>Mini Chat</h6>
      <div class="scrollbar scrollbar-secondary" style="width: 65vw; height: 70vh; overflow-x: hidden;">
        <div *ngFor="let message of messages">
          <div class="answer left" *ngIf="id !== message.senderId && room.id === message.roomId">
            <div class="avatar">
              <img src="http://node55288-env-7352306.mycloud.by/avatars/default.jpeg" alt="User name">
              <div class="status online"></div>
            </div>
            <div class="name">{{message.senderId}}</div>
            <div class="text">
              {{message.content}}
            </div>
          </div>
          <div class="answer right" *ngIf="id === message.senderId && room.id === message.roomId">
            <div class="avatar">
              <img src="http://node55288-env-7352306.mycloud.by/avatars/default.jpeg" alt="User name">
              <div class="status online"></div>
            </div>
            <div class="name">{{message.senderId}}</div>
            <div class="text">
                {{message.content}}
            </div>
          </div>
        </div>
      </div>
      <div class="answer-add" style="display: flex; flex-direction: row;">
        <input placeholder="Write a message" [(ngModel)]="content">
        <button type="button" class="btn btn-light" (click)="send()">Send</button>
      </div>
    </div>
  </div>
</div>
