<div class="wrapper fadeInDown" *ngIf="!next">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../assets/poster.svg" style="width: 100px; margin: 20px;" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <input type="text" *ngIf="!newUser" [(ngModel)]="userLogin" id="login" class="fadeIn second" name="login" placeholder="login">
    <input type="text" *ngIf="!newUser" [(ngModel)]="password" id="password" class="fadeIn third" name="login" placeholder="password">
    <input type="text" *ngIf="newUser" [(ngModel)]="newLogin" id="login" class="fadeIn second" name="login" placeholder="login">
    <input type="text" *ngIf="newUser" [(ngModel)]="newPassword" id="password" class="fadeIn third" name="login" placeholder="password">
    <input type="submit" *ngIf="newUser" class="fadeIn fourth" (click)="signUp()">
    <input type="submit" *ngIf="!newUser" class="fadeIn fourth" (click)="login()">
    <button type="button" *ngIf="!newUser" class="btn btn-primary" (click)="newUser = true">Sign Up</button>
    <h6 *ngIf="error && !newUser" style="color: red;">Invalid credentials</h6>
  </div>
</div>
<app-list *ngIf="next" [currentUser]="user"></app-list>
