<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4 pb-5">
      <!-- Account Sidebar-->
      <div class="author-card pb-3">
        <div class="author-card-cover"
          style="background-image: url(https://demo.createx.studio/createx-html/img/widgets/author/cover.jpg);"><a
            class="btn btn-style-1 btn-white btn-sm" href="#" data-toggle="tooltip" title=""
            data-original-title="You currently have 290 Reward points to spend"><i class="fa fa-award text-md"></i></a>
        </div>
        <div class="author-card-profile">
          <div class="author-card-avatar"><img src="http://node55288-env-7352306.mycloud.by/{{currentUser.avatarUrl}}"
              alt="Daniel Adams">
          </div>
          <div class="author-card-details">
            <h5 class="author-card-name text-lg">{{currentUser.username}}</h5>
          </div>
        </div>
      </div>
      <div class="wizard">
        <nav class="list-group list-group-flush">
          <a class="list-group-item" (click)="close.emit()" style="cursor: pointer;">
            <div class="d-flex justify-content-between align-items-center">
              <div><i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                <div class="d-inline-block font-weight-medium text-uppercase">List</div>
              </div><span class="badge badge-secondary">6</span>
            </div>
          </a><a class="list-group-item active" href="#"><i class="fe-icon-user text-muted"></i>Profile Settings</a>
        </nav>
      </div>
    </div>
    <!-- Profile Settings-->
    <div class="col-lg-8 pb-5">
      <form class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="account-fn">Name</label>
            <input class="form-control" type="text" id="account-fn" [(ngModel)]="currentUser.username" name="currentUser.username" required="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="account-pass">New Password</label>
            <input class="form-control" type="password" [(ngModel)]="currentUser.password" name="name" id="account-pass">
          </div>
        </div>
        <div class="col-12">
          <hr class="mt-2 mb-3">
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <button class="btn btn-style-1 btn-primary" type="button" data-toast="" data-toast-position="topRight"
              data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Success!"
              data-toast-message="Your profile updated successfuly." (click)="update()">Update Profile</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
